<footer class="mastfoot mt-auto text-center">
  <div class="inner">
    <p>
      <a title="Twitter" href="http://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"> Twitter</i></a> &nbsp;&nbsp;&nbsp;
      <a title="Instagram" href="http://instagram.com/{{ site.instagram }}"><i class="fab fa-instagram"> Instagram</i></a> &nbsp;&nbsp;&nbsp;
      <a title="GitHub" href="http://github.com/{{ site.github }}"><i class="fab fa-github"> Github</i></a> &nbsp;&nbsp;&nbsp;
      <a title="LinkedIn" href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fab fa-linkedin"> LinkedIn</i></a>
    </p>    
    <p>Design &amp; Coded with ♥.<br />©{{ 'now' | date: '%Y' }} Melvin Rivera. All Rights Reserved</p>
  </div>
</footer>
