<!-- Jquery -->
<script src="/vendor/jquery-3.4.1/jquery.min.js"></script> 
<!-- Bootsrap -->
<script async src="/vendor/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>
<!-- PhotoSwipe-->
<script src="vendor/photoswipe-4.1.3/photoswipe.min.js"></script> 
 <script src="vendor/photoswipe-4.1.3/photoswipe-ui-default.min.js"></script> 
<!-- Main JS-->
<script async src="/assets/main.js"></script>
<!-- Netlify CMS -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3488813-18"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-3488813-18');
</script>


